@font-face {
    font-family: peyda-Bold;
    src: url(../assets/fonts/Peyda-Bold.ttf);
}

@font-face {
    font-family: peyda;
    src: url(../assets/fonts/Peyda-Regular.ttf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #333;
    font-family: peyda;
}

.container {
    padding: 0 70px;
}

/* header style */

header {
    width: 100%;
    height: 100px;
}

.border_header {
    border-bottom: 1px solid #ccc;
    bottom: 72px;
    position: relative;
}

.logo {
    width: 320px;
    padding: 50px 100px 0 0;
    text-align: left;
}

.search_box {
    display: inline;
}

header input {
    width: 45%;
    text-align: right;
    height: 50px;
    border: none;
    background-color: #f5f5f5;
    border-radius: 29px;
    position: relative;
    bottom: 14px;
    font-size: 15px;
}

header input::placeholder {
    color: #333;
    font-family: peyda;
    margin-right: 10px;
}

.icon_rtl {
    padding-right: 35px;
    background: url("../assets/icons/icons8-search-64.png") no-repeat right;
    background-size: 35px;
    background-color: #eee;
}

.cart_btn {
    background: url(../assests/icons/cart-38.svg) no-repeat right;
    font-size: 35px;
}

.flex_button {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 61px;
}

.flex_button button {
    width: 132px;
    height: 42px;
    border: none;
    background-color: #00bf6f;
    border-radius: 21px;
    color: #fff;
    font-family: 'peyda';
    font-size: 16px;
    cursor: pointer;
    position: relative;
    right: 50px;
}

.flex_button button:hover {
    background-color: #28a745;
    transition: 0.3s;
}

.cart {
    font-size: 24px;
    position: relative;
    top: 10px;
}

.cart:hover {
    color: #20c997;
    transition: 0.3s;
}

.qnt_cart {
    width: 23px;
    height: 23px;
    background-color: #20c997;
    border-radius: 50%;
    position: relative;
    right: 8px;
}

.qnt {
    font-size: 20px;
    font-family: 'peyda';
    color: #fff;
    position: relative;
    left: 6px;
}

.icon_responsive {
    float: right;
    padding: 40px 0;
    display: none;
}

.fa-heart {
    margin-right: 20px;
    font-size: 25px;
}

.fa-magnifying-glass {
    font-size: 25px;
}

/* login modal */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: none;
    z-index: 10000;
}

.modal_content {
    width: 36%;
    background-color: #fff;
    height: 450px;
    margin: 9% auto;
    border-radius: 20px;
    box-shadow: 0 0 15px #555;
}

.close_btn {
    font-size: 23px;
    padding: 20px;
    cursor: pointer;
}

.contact_icon {
    padding-right: 35px;
    background: url(../assets/icons/contact-0b18b1e63cf380d0af133fab8e63f7e6.png) no-repeat right;
    background-size: 35px;
    position: relative;
}

.modal_content h2 {
    font-family: 'peyda';
    text-align: center;
    margin: 30px 0;
}

.descraptions {
    font-family: 'peyda';
    text-align: center;
    font-size: 17px;
}

.login_form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.phone_number {
    width: 70%;
    height: 60px;
    border: none;
    border: 0.5px solid #ccc;
    border-radius: 10px;
    text-align: right;
    font-size: 18px;
    font-family: peyda;
}

.phone_number::placeholder {
    font-family: peyda;
    margin-right: 20px;
}

.submit_button {
    width: 70%;
    height: 60px;
    font-size: 20px;
    background-color: #00bf6f;
    border: none;
    border-radius: 9px;
    color: #fff;
    font-family: 'peyda';
    margin: 20px 0;
    cursor: pointer;
}

.privacy_policy {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
}

.privacy_policy input {
    width: 25px;
    height: 15px;
    position: relative;
    right: 98px;
}

.privacy_policy p {
    font-size: 16px;
    font-family: 'peyda';
    text-align: center;
    position: relative;
    left: 93px;
    top: 13px;
    margin-left: 25px;
}

/* search modal */

.modal_search {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 1;
}

.modal_search_content {
    width: 100%;
    height: 230px;
    background-color: #fff;
    box-shadow: 0 0 15px #333;
}

.search_modal {
    display: flex;
    justify-content: flex-end;
}

.search_box_modal {
    width: 90%;
    text-align: right;
    height: 50px;
    border: none;
    background-color: #f5f5f5;
    border-radius: 29px;
    position: relative;
    bottom: 14px;
    font-size: 15px;
}

.search_box_modal::placeholder {
    color: #333;
    font-family: peyda;
    margin-right: 10px;
}

.close_btn_search {
    font-size: 30px;
    position: relative;
    top: 25px;
    cursor: pointer;
}

.popular_search_flex {
    display: flex;
    justify-content: flex-end;
}

.popular_search h3 {
    text-align: right;
    font-family: 'peyda';
    color: #555;
}

.popular_search button {
    width: 106px;
    height: 35px;
    border: 1px solid #e9e9ea;
    border-radius: 17px;
    background: #f6f6f6;
    font-size: 16px;
    font-family: 'peyda';
    color: #000;
    margin-right: 7px;
    cursor: pointer;
}

/* navbar */

.ul_navbar {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    position: relative;
    bottom: 57px;
}

.navbar li {
    list-style: none;
    padding: 20px;
    text-align: right;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
}

.hambur_menu {
    position: relative;
    top: 21px;
    right: 10px;
}

.percent_icon {
    position: relative;
    top: 22px;
    right: 10px;
}

.navbar_border {
    border-left: 2px solid #333;
    height: 15px;
    margin-top: 22px;
    margin-left: 10px;
}

.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #00bf6f;
    height: 2px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
}

.drop_down_menu1 {
    position: absolute;
    width: 200px;
    height: auto;
    top: 100%;
    right: 0;
    background-color: #fff;
    box-shadow: 2px 9px 15px #ccc;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    display: none;
    z-index: 101;
}

.drop_menu .drop_down_menu1 {
    display: none;
}

.drop_down:hover .drop_down_menu1 {
    display: block;
}

.drop_down_menu1 img {
    width: 20px;
    position: relative;
    left: 10px;
    top: 5px;
}

.drop_down_li {
    font-size: 14px;
    width: 200px;
    right: 40px;
    border-radius: 10px;
    top: 4px;
    position: relative;
}

.drop_down_li:hover {
    background-color: #eee;
}

.drop_down_li:hover .drop_down_a {
    color: #00bf6f;
}

.drop_down_menu2 {
    position: absolute;
    width: 200px;
    height: auto;
    box-shadow: 2px 9px 15px #ccc;
    background-color: #fff;
    right: 212px;
    border-radius: 10px;
    z-index: 100;
}

.drop_down_li2 {
    width: 200px;
    position: relative;
    right: 40px;
    border-radius: 10px;
}

.drop_down_li2:hover {
    background-color: #eee;
}

.drop_down_menu2 li:hover a {
    color: #00bf6f;
}

.drop_down_menu2 h3 {
    font-family: peyda;
    margin-right: 10px;
}

.now_menu {
    display: none;
}

.home_mod_menu {
    display: none;
}

.woman_menu {
    display: none;
}

.man_menu {
    display: none;
}

.nojavan_menu {
    display: none;
    bottom: 10%;
}

.kid_menu {
    display: none;
}

.kaka_menu {
    display: none;
    bottom: 20%;
}

.watch_menu {
    display: none;
    bottom: 20%;
}

.arayesh_menu {
    display: none;
    bottom: 20%;
}

.now:hover .now_menu {
    display: block;
}

.home_mod:hover .home_mod_menu {
    display: block;
}

.kid:hover .kid_menu {
    display: block;
}

.woman:hover .woman_menu {
    display: block;
}

.man:hover .man_menu {
    display: block;
}

.nojavan:hover .nojavan_menu {
    display: block;
}

.kaka:hover .kaka_menu {
    display: block;
}

.watch:hover .watch_menu {
    display: block;
}

.arayesh:hover .arayesh_menu {
    display: block;
}

.brand_h4 {
    font-family: peyda;
    border-right: 2px solid #00bf6f;
    margin-right: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.brand_h4:hover {
    color: #00bf6f;
}

.brand_li {
    font-size: 14px;
    width: 160px;
    position: relative;
    right: 40px;
    border-radius: 10px;
}

.brand_li:hover a {
    color: #00bf6f;
}

.percent_li {
    font-size: 13px;
    padding: 0;
}

.percent_li:hover a {
    color: #00bf6f;
}

/* image slider */

.img_slide {
    width: 35%;
    padding: 0 80px;
    position: relative;
}

.img_slide_responsive {
    width: 100%;
    padding: 0 70px;
    position: relative;
    display: none;
}

.slide_responsive {
    display: none;
}

.slide_responsive img {
    margin-top: 30px;
    border-radius: 10px;
}

.slide {
    display: none;
}

.slide img {
    margin-top: 95px;
    border-radius: 10px;
}

.prev_responsive, .next_responsive {
    cursor: pointer;
    position: absolute;
    top: 61%;
    margin-top: -22px;
    padding: 15px;
    font-size: 18px;
    font-weight: bolder;
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: 0.6s ease;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 61%;
    margin-top: -22px;
    padding: 15px;
    font-size: 18px;
    font-weight: bolder;
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: 0.6s ease;
}

.next {
    right: 90px;
}

.next_responsive {
    right: 90px;
}

.dot {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #d7d7d7;
    display: inline-block;
    transition: 0.5s ease-in-out;
}

.dot_slide {
    width: 35%;
    text-align: center;
}

.dot:hover, .active {
    cursor: pointer;
    background-color: slategray;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-direction: 1.2s;
    animation-name: fade;
    animation-duration: 1.2s;
}

@-webkit-keyframes fade {
    from {opacity: 0.4;}
    to {opacity: 1;}
}
@keyframes fade {
    from {opacity: 0.4;}
    to {opacity: 1;}
}

.banner1 {
    width: 62%;
    float: right;
    margin-top: 95px;
    margin-right: 80px;
}

.banner1 img {
    width: 100%;
    height: 400px;
    border-radius: 10px;
}

.img_slide2 {
    width: 65%;
    padding: 0 80px;
    position: relative;
}

.slide2 img {
    margin-top: 95px;
    border-radius: 10px;
}

.prev2, .next2 {
    cursor: pointer;
    position: absolute;
    top: 61%;
    margin-top: -22px;
    padding: 15px;
    font-size: 18px;
    font-weight: bolder;
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: 0.6s ease;
}

.next2 {
    right: 90px;
}

.dot2 {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #d7d7d7;
    display: inline-block;
    transition: 0.5s ease-in-out;
}

.dot_slide2 {
    width: 35%;
    text-align: center;
}

.dot2:hover, .active2 {
    cursor: pointer;
    background-color: slategray;
}

/* Categories */

.Categories_img {
    padding-top: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.Categories_img img {
    width: 230px;
    height: 230px;
    margin-left: 7px;
    cursor: pointer;
}

.hvr-grow-shadow {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    z-index: -10000;
    }
    .hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* timer */

.timer {
    margin-top: 50px;
}

.timer_img img {
    width: 300px;
    float: right;
}

.count_timer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.count_timer h3 {
    font-family: 'peyda';
    color: #00bf6f;
    margin-top: 31px;
    margin-left: 20px;
}

#hours {
    width: 50px;
    height: 50px;
    background-color: #F16423;
    color: #fff;
    font-family: 'peyda';
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
}

#minutes {
    width: 50px;
    height: 50px;
    background-color: #F16423;
    color: #fff;
    font-family: 'peyda';
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
}

#seconds {
    width: 50px;
    height: 50px;
    background-color: #F16423;
    color: #fff;
    font-family: 'peyda';
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
}

.two_dot {
    font-size: 27px;
    color: #F16423;
    margin: 26px 10px;
}

/* products */

.products {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.product {
    width: 23%;
    height: auto;
    box-shadow: 3px 5px 20px #ccc;
    border-radius: 10px;
    cursor: pointer;
}

.product_img {
    width: 100%;
    position: relative;
    z-index: -100;
}

.product_img img {
    width: 100%;
    border-radius: 10px;
}

.off {
    width: 50px;
    height: 50px;
    background-color: #F16423;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 10px;
}

.off p {
    color: #fff;
    font-family: 'peyda';
    font-size: 18px;
}

.remaining {
    width: 165px;
    height: 34px;
    background-color: #F16423;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 36%;
    left: 84px;
}

.flex_remaining {
    display: flex;
    justify-content: center;
    align-items: center;
}

.remaining p {
    color: #fff;
    font-family: 'peyda';
    font-size: 15px;
}

.name {
    text-align: right;
    margin-right: 10px;
    font-family: 'peyda';
}

.descraption {
    font-family: 'peyda';
    float: right;
    font-size: 15px;
    margin-right: 10px;
    position: relative;
    bottom: 15px;
}

.off_price {
    display: inline;
    position: relative;
    bottom: 35px;
    left: 10px;
    font-family: 'peyda';
    font-size: 15px;
    text-decoration: line-through;
}

.price {
    position: relative;
    bottom: 35px;
    left: 10px;
    font-family: 'peyda';
    font-size: 15px;
    color: #00bf6f;
}

.size {
    display: flex;
    justify-content: flex-end;
}

.M {
    margin-right: 10px;
    width: 35px;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 6px;
    position: relative;
    bottom: 48px;
    font-family: arial;
    display: flex;
    align-items: center;
    justify-content: center;
}

.L {
    margin-right: 10px;
    width: 35px;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 6px;
    position: relative;
    bottom: 48px;
    font-family: arial;
    display: flex;
    align-items: center;
    justify-content: center;
}

.XL {
    margin-right: 10px;
    width: 35px;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 6px;
    position: relative;
    bottom: 48px;
    font-family: arial;
    display: flex;
    align-items: center;
    justify-content: center;
}

.more {
    display: flex;
    justify-content: center;
}

.more button {
    width: 250px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 25px;
    background-color: #fff;
    font-size: 18px;
    font-family: 'peyda-Bold';
    margin-top: 40px;
    color: #00bf6f;
}

.more button:hover {
    border: 1px solid #00bf6f;
    transition: 0.2s;
}

/* Categories2 */

.Categories_2 {
    width: 100%;
}

.Categories_img2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Categories_img2 img {
    width: 24%;
    margin-top: 65px;
    margin-right: 11px;
    border-radius: 10px;
}

/* Information */

.items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 70px;
}

.item {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    padding: 10px;
    transition: 0.4s;
}

.item:hover {
    box-shadow: 0px 0px 40px #dbdbdb;
}

.icon_information {
    display: flex;
    justify-content: center;
}

.icon_information img {
    width: 115px;
    height: 115px;
}

.item h3 {
    text-align: center;
    font-family: 'peyda';
    font-size: 21px;
}

.item p {
    font-family: 'peyda';
    text-align: center;
    font-size: 15px;
    padding: 0 20px;
}

/* best brand */

.best_brand {
    background-color: #F9F9F9;
    margin-top: 70px;
}

.best_brand h3 {
    text-align: center;
    padding: 30px 0;
    font-family: 'peyda-Bold';
    font-size: 21px;
}

.brand {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.brand img {
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}

/* blog */

.bani_mag h2 {
    text-align: center;
    font-family: 'peyda-Bold';
    margin: 30px 0;
}

.blogs {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.blog {
    width: 24%;
}

.blog img {
    width: 100%;
    border-radius: 10px;
}

.blog p {
    text-align: right;
    font-family: 'peyda';
    font-size: 15px;
}

/* sign in newsletter */

.newsletter {
    width: 100%;
    height: 250px;
    background-color: #f8f8f8;
    background-image: url(../assets/images/newsletter.svg);
    background-repeat: no-repeat;
    background-position: top left;
    margin-top: 50px;
}

.newsletter h2 {
    text-align: center;
    padding-top: 85px;
    font-family: 'peyda-Bold';
    font-size: 25px;
}

.newsletter p {
    text-align: center;
    font-family: 'peyda';
    font-size: 18px;
}

.newsletter_form {
    width: 620px;
    height: 88px;
    background-color: #fff;
    border-radius: 40px;
    position: relative;
    top: 36px;
    left: 28%;
}

.newsletter_form input {
    font-size: 14px;
    font-family: 'peyda';
    width: 444px;
    float: right;
    height: 45px;
    text-align: right;
    background-color: rgba(238,238,238,.9333333333);
    color: #b3b3b3;
    border: none;
    border-radius: 29px;
    margin-top: 15px;
    margin-right: 15px;
}

.newsletter_form input::placeholder {
    margin-right: 20px;
}

.newsletter_form button {
    margin-top: 13px;
    margin-left: 20px;
    width: 113px;
    height: 45px;
    border: none;
    background-color: #00bf6f;
    color: #fff;
    font-size: 15px;
    font-family: 'peyda-Bold';
    border-radius: 24px;
    cursor: pointer;
    transition: 0.4s;
}

.newsletter_form button:hover {
    background-color: #1b8754;
}

/* footer */

footer {
    margin-top: 150px;
    border-top: 3px solid #eee;
}

.footer_part1 {
    width: 75%;
    float: right;
    height: 400px;
}

.footer_part1 ul {
    margin-right: 80px;
    float: right;
    text-align: right;
}

.footer_part1 li {
    list-style: none;
    margin-top: 15px;
}

.footer_part1 a {
    text-decoration: none;
}

.footer_part1 h3 {
    font-family: peyda;
    color: #ccc;
}

.footer_content h2 {
    text-align: right;
    font-family: 'peyda';
    font-size: 19px;
    color: #ccc;
    margin-top: 35px;
}

.time_work {
    text-align: right;
    font-family: 'peyda';
}

.number1 {
    float: right;
    font-family: 'peyda';
    font-size: 18px;
}

.number1:hover {
    color: #00bf6f;
    cursor: pointer;
}

.number2 {
    float: right;
    font-family: 'peyda';
    margin-right: 10px;
    margin-top: 18px;
}

.SMS {
    float: right;
    font-family: 'peyda';
    margin-top: 18px;
    margin-right: 10px;
}

.Number_SMS {
    float: right;
    font-family: 'peyda';
    font-size: 18px;
    margin-right: 20px;
}

.Number_SMS:hover {
    color: #00bf6f;
    cursor: pointer;
}

.email1 {
    margin-top: 70px;
    text-align: right;
    font-family: 'peyda';
    position: relative;
    top: 7px;
    right: -10px;
}

.email2 {
    float: right;
    position: relative;
    bottom: 50px;
    font-size: 18px;
    font-family: 'peyda';
}

.email2:hover {
    color: #00bf6f;
    cursor: pointer;
}

.Description_footer {
    float: right;
    margin-right: 80px;
}

.Description_footer h3 {
    text-align: right;
    font-family: 'peyda';
}

.Description_footer a{
    text-decoration: solid;
}

.Description_footer a:hover {
    color: #00bf6f;
}

.Description_footer p {
    text-align: right;
    margin-top: 40px;
    font-family: peyda;
}

.footer_part2 {
    width: 25%;
    float: left;
    height: 400px;
}

.logo_footer {
    margin-top: 30px;
}

.footer_part2 button {
    width: 235px;
    height: 45px;
    border: 1px solid #00bf6f;
    color: #00bf6f;
    font-family: 'peyda';
    border-radius: 22px;
    background-color: #fff;
    margin-top: 30px;
    transition: 0.4s;
}

.footer_part2 button:hover {
    border: 1px solid #1b8754;
}

.main{
    width: 200px;
    height: 100px;
    position: relative;
    display: flex;
}

.main ul {
    display: inline-block;
    position: relative;
    right: 65px;
}

.flex_social {
    display: flex;
}

.main li {
    list-style: none;
    margin: 0 15px;
}

.main a {
    background-color: #fff;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 3px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 500ms ease;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.main i {
    background-color: transparent;
    color: #0ebac5;
    font-size: 2em;
}

.main a::after {
    content: "";
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
    transition: all 500ms ease-in;
}

.main a.one:hover::after {
    background-color:#1D9BF0;
    top: 0;
}

.main a:hover {
    box-shadow: 0 0 20px #0ebac5;
}

.main a:hover .fa-brands {
    color: #fff;
    z-index: 2;
}

/* Two */
.main a.two:hover::after {
    background-color: #25D366;
    top: 0;
}

 /* Three */
.main a.three:hover::after {
    background-color: #333;
    top: 0;
}

  /* Four */
.main a.four:hover::after {
    background-color: #0072b1 ;
    top: 0;
}

.logo_namad {
    margin-top: 35px;
}

.logo_namad img {
    width: 80px;
}

/* header responsive */

.header_responsive_none {
    display: none;
}

.header_responsive {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    background-color: #fff;
    box-shadow: 0 10px 20px #333;
    flex-direction: row-reverse;
}

.home_header, .categorie_header, .cart_header, .profile_header {
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home_header span, .categorie_header span, .cart_header span, .profile_header span {
    font-size: 17px;
}

.home_header p, .categorie_header p, .cart_header p, .profile_header p {
    font-family: 'peyda-Bold';
}

@media screen and (min-width: 2500px) {
    .product {
        height: auto;
    }

    p {
        font-size: 30px !important;
    }
    
    a {
        font-size: 25px !important;
    }

    .size p {
        width: 70px;
        height: 70px;
        margin-right: 40px;
    }

    .remaining {
        width: 325px;
        height: 85px;
        left: 285px;
    }

    .navbar_border {
        height: 30px;
    }

    .flex_button button {
        font-size: 18px;
        width: 200px;
        height: 40px;
    }

    .header input {
        width: 48%;
        height: 90px;
    }

    .icon_rtl {
        background-size: 45px;
    }
    
    .logo {
        width: 450px;
    }

    .img_slide {
        margin-top: 105px;
    }

    .banner1 {
        margin-top: 200px;
    }

    .Categories_img {
        justify-content: space-between;
    }

    .Categories_img img {
        width: 310px;
        height: 310px;
    }

    .off {
        width: 100px;
        height: 100px;    
    }

    #seconds {
        width: 100px;
        height: 100px;
        font-size: 25px;
    }

    #minutes {
        width: 100px;
        height: 100px;
        font-size: 25px;
    }

    #hours {
        width: 100px;
        height: 100px;
        font-size: 25px;
    }

    .count_timer h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 35px;
    }

    .timer_img img {
        width: 600px;
    }

    .item {
        width: 420px;
        height: 420px;    
    }

    .item p {
        font-size: 25px !important;
    }

    .brand img {
        width: 8%;
    }

    .more button {
        width: 400px;
        height: 100px;
        font-size: 26px;
    }

    .newsletter_form {
        top: 0px;
        left: 41%;
    }

    .logo_namad img {
        width: 150px;
    }

    .bani_mag_logo {
        width: 345px;
    }

    .logo_footer {
        width: 380px;
    }

    .footer_part2 button {
        width: 300px;
        height: 70px;
        margin-left: 80px;
    }

    .two_dot {
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 2000px) {
    .product {
        height: auto;
    }
}

@media screen and (max-width: 1495px) {
    .product {
        height: 505px;
    }

    .product_img img {
        width: 300px;
    }
}

@media screen and (max-width: 1495px) {
    .buy {
        display: none;
    }
}

@media screen and (max-width: 1370px) {
    .search_box {
        display: none;
    }

    .navbar {
        display: none;
    }

    .header {
        border-bottom: 1px solid #ccc;
    }

    .logo {
        padding: 30px 100px 30px 0;
    }

    .border_header {
        border: none;
    }

    .flex_button {
        display: none;
    }

    .icon_responsive {
        display: block;
    }

    .banner1 {
        display: none;
    }

    .img_slide_responsive {
        display: block;
    }

    .img_slide {
        display: none;
    }

    .dot_slide {
        display: none;
    }

    .Categories_img img {
        width: 194px;
        height: 194px;
    }

    .product_img img {
        width: 100%;
    }

    .size {
        display: none;
    }

    .product {
        height: auto;
    }

    .remaining {
        top: 60%;
        left: 63px;
    }

    .newsletter_form {
        left: 24%;
    }

    .header_responsive_none {
        display: block;
    }
}

@media screen and (max-width: 1320px) {
    .product_img img {
        width: 100%;
    }

    .remaining {
        top: 60%;
        left: 55px;
    }
}

@media screen and (max-width: 1229px) {
    .product {
        height: auto;
    }

    .product_img img {
        width: 100%;
    }

    .remaining {
        top: 60%;
        left: 45px;
    }

    .newsletter_form {
        left: 21%;
    }
}

@media screen and (max-width: 1160px) {
    .product4 {
        display: none;
    }

    .product {
        width: 28%;
        height: auto;
        margin-left: 30px;
    }

    .Services {
        display: none;
    }

    .logo_footer {
        display: none;
    }

    .logo_namad img {
        width: 55px;
    }
}

@media screen and (max-width: 1111px) {
    .price {
        top: 0;
        left: 155px;
        font-size: 13px;
    }

    .off_price {
        top: 34px;
        font-size: 13px;
    }

    .product {
        height: auto;
    }

    .remaining {
        width: 145px;
        left: 64px;
    }

    .remaining p {
        font-size: 12px;
    }
}

@media screen and (max-width: 960px) {
    .product_img img {
        width: 100%;
    }

    .price {
        left: 144px;
        font-size: 12px;
    }

    .off_price {
        font-size: 12px;
    }

    .newsletter_form {
        left: 13%;
    }
}

@media screen and (max-width: 915px) {
    .product3 {
        display: none;
    }

    .product {
        width: 37%;
        height: auto;
    }

    .product_img img {
        width: 100%;
    }

    .price {
        font-size: 14px;
    }

    .off_price {
        font-size: 14px;
    }

    .remaining {
        width: 190px;
        left: 46px;
    }

    .remaining p {
        font-size: 14px;
    }

    .count_timer h3 {
        font-size: 16px;
    }

    .timer_img img {
        width: 275px;
    }

    #seconds {
        width: 40px;
        height: 40px;
    }

    #minutes {
        width: 40px;
        height: 40px;
    }

    #hours {
        width: 40px;
        height: 40px;
    }

    .about {
        display: none;
    }

    .footer_content {
        padding-right: 80px;
    }
}

@media screen and (max-width: 813px) {
    .remaining {
        left: 30px;
    }

    .timer_img img {
        width: 200px;
        margin-top: 15px;
    }

    .count_timer h3 {
        display: none;
    }

    .newsletter_form {
        left: 4%;
    }
}

@media screen and (max-width: 751px) {
    .products {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .product {
        width: 50%;
        height: auto;
        margin-top: 40px;
    }

    .remaining {
        width: 100%;
        border-radius: 0px;
        left: 0;
        top: 285px;
    }

    .name {
        font-size: 15px;
    }

    .descraption {
        font-size: 15px;
    }

    .price {
        font-size: 14px;
    }

    .off_price {
        font-size: 14px;
    }

    .newsletter_form {
        left: 10%;
        top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 500px;
    }

    .newsletter_form input {
        margin-right: 0;
    }

    .main a {
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 650px){
    .newsletter_form {
        left: 4%;
    }

    .main {
        display: none;
    }

    .footer_part2 button {
        display: none;
    }

    .bani_mag_logo {
        display: none;
    }

    .Description_footer p {
        font-size: 13px;
    }

    .Description_footer h3 {
        font-size: 14px;
    }
}

@media screen and (max-width: 590px) {
    .newsletter_form {
        left: -4%;
    }

    .footer_part2 {
        display: none;
    }

    .footer_part1 {
        width: 100%;
    }
}

/* product page */

.wrapper {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    top: 105px;
}

.all_imgs {
    display: flex;
    flex-direction: column;
}

.all_imgs img {
    height: 20vh;
    width: auto;
    object-fit: cover;
    cursor: pointer;
    border-radius: 20px;
    transition: 1s ease;
}

.all_imgs img:hover {
    border: 2px solid #25D366;
}

.current_place {
    width: 30%;
    height: 100vh;
    position: relative;
}

.image_title {
    position: absolute;
    top: 10%;
    left: 22%;
    transform: translate(-50%, -50%);
    background: #25D366;
    color: #fff;
    padding: 5px 18px;
    border-radius: 20px;
    font-family: peyda;
}

.current_img {
    position: absolute;
    top: 0;
    right: 0;
    height: 70%;
    object-fit: cover;
    border-radius: 30px;
    margin-right: 20px;
}

.animate_imgs {
    opacity: 0.5;
    animation: animate_imgs 0.5s ease-in-out forwards;
}

@keyframes animate_imgs {
    100% {
        opacity: 1;
    }
}

/* title product */

.title_product {
    width: 90%;
    position: relative;
    right: 120px;
}

.name_product {
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
}

.title_product h3 {
    font-family: peyda;
    text-align: right;
}

.icon_shared {
    display: flex;
    position: relative;
    bottom: 100px;
    left: 55px;
}

.icon_shared span {
    font-size: 30px;
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    margin-right: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.Information_product {
    position: relative;
    bottom: 60px;
    border-bottom: 1px solid #ccc;
    height: 210px;
}

.off_price_product {
    float: right;
    font-family: 'peyda';
    text-decoration: line-through;
}

.price_product {
    float: right;
    color: #F17C59;
    font-family: peyda;
    margin-right: 30px;
}

.price_number {
    width: 100px;
    height: 30px;
    background-color: #FFEAE0;
    font-family: 'peyda';
    color: #F17C59;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 27px;
    float: right;
    margin-right: 20px;
    position: relative;
    bottom: 4px;
}

.final_price {
    font-family: peyda;
    color: #25D366;
    float: right;
    position: relative;
    top: 50px;
    left: 36%;
}

.banicoin {
    width: 482px;
    height: 44px;
    background-color: #FBF8F2;
    border: 2px solid #FBC02D;
    color: #FBC02D;
    font-family: 'peyda';
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 28px;
    float: right;
    margin-top: 50px;
}

.complite_buy {
    position: relative;
    bottom: 57px;
}

.complite_buy p {
    font-size: 17px;
    font-family: 'peyda-Bold';
    float: right;
}

.product_color {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 107px;
    height: 150px;
    float: right;
    position: relative;
    top: 60px;
    left: 15%;
    transition: 0.7s ease;
    cursor: pointer;
}

.product_color:hover {
    border: 1px solid #25D366;
}

.complite_buy img {
    width: 100px;
    float: right;
    position: relative;
    border-radius: 10px;
}

.complite_buy span {
    position: relative;
    left: 26%;
    font-family: 'peyda-Bold';
}

.complite_buy select {
    width: 32%;
    height: 50px;
    font-size: 15px;
    font-family: 'peyda-Bold';
    border-radius: 6px;
    float: right;
    position: relative;
    top: 250px;
    left: 27%;
    transition: 0.2s ease;
    cursor: pointer;
}

.complite_buy select:hover {
    border: 1px solid #25D366;
}

.how_size {
    width: 20%;
    height: 50px;
    font-size: 18px;
    font-family: 'peyda';
    background-color: #fff;
    border: 1px solid #ccc;
    color: #00BF6F;
    border-radius: 7px;
    position: relative;
    top: 250px;
    left: 45%;
    transition: 0.2s ease;
    cursor: pointer;
}

.how_size:hover {
    border: 1px solid #00BF6F;
}

.add_to_cart {
    width: 54%;
    height: 50px;
    background-color: #00BF6F;
    color: #fff;
    font-size: 17px;
    font-family: 'peyda-Bold';
    border: none;
    border-radius: 7px;
    position: relative;
    top: 265px;
    left: 45%;
    cursor: pointer;
}

.information_button {
    margin-top: 97px;
}

.information_button button {
    width: 180px;
    height: 50px;
    color: #ccc;
    font-size: 17px;
    font-family: 'peyda';
    border: none;
    background-color: #fff;
    float: right;
    cursor: pointer;
}

.information_button button:focus {
    border-bottom: 2px solid #25D366;
    color: #000;
    font-family: peyda-Bold;
}

.Attribute {
    display: flex;
    justify-content: flex-end;
    margin-top: 165px;
    padding-right: 60px;
    display: none;
}

.Attribute ul {
    text-align: right;
    list-style: none;
}

.Attribute li {
    margin-top: 20px;
    font-family: 'peyda';
}

.information_product {
    margin-top: 147px;
    display: none;
    width: 100%;
    height: auto;
    padding-bottom: 120px;
}

.information_product_part1 {
    float: right;
    list-style: none;
    padding-right: 60px;
    margin-left: 200px;
}

.information_product ul {
    float: right;
    list-style: none;
}

.information_product li {
    margin-top: 20px;
    font-family: 'peyda';
    text-align: right;
}

.review {
    display: none;
    padding: 0 60px;
}

.review h2 {
    font-family: 'peyda-Bold';
    margin-top: 30px;
    text-align: right;
}

.review p {
    font-size: 17px;
    font-family: 'peyda';
    text-align: right;
}

.Comment_none {
    display: none;
}

.comments_container {
    display: flex;
}

.comment {
    width: 100%;
    height: 226px;
}

.user_icon {
    width: 40px;
    height: 40px;
    float: right;
    margin-top: 106px;
    position: relative;
    left: 100%;
}

.Opinion_one {
    float: right;
    margin-top: 115px;
    position: relative;
    left: 92%;
    font-size: 18px;
    font-family: 'peyda-Bold';
}

.username {
    float: right;
    margin-top: 115px;
    position: relative;
    left: 85%;
    font-family: 'peyda';
}

.date_comment {
    float: right;
    margin-top: 115px;
    position: relative;
    left: 82%;
    font-family: 'peyda';
}

.Proposal {
    float: right;
    margin-top: 115px;
    position: relative;
    left: 76%;
    color: #25D366;
    font-family: 'peyda-Bold';
}

.not_Proposal {
    float: right;
    margin-top: 115px;
    position: relative;
    left: 76%;
    color: #d91414;
    font-family: 'peyda-Bold';
}

.Opinion_two {
    float: right;
    margin-top: 35px;
    position: relative;
    left: 99%;
    font-family: 'peyda';
    text-align: right;
}

.add_comment {
    height: 150px;
    width: 200%;
    margin-top: 100px;
}

.add_comment h3 {
    text-align: right;
    font-family: peyda-Bold;
}

.warning {
    text-align: right;
    font-family: 'peyda';
}

.Anonymous {
    float: right;
    font-family: 'peyda';
    margin-top: 20px;
}

.Anonymous_btn {
    float: right;
    accent-color: #25D366;
    width: 15px;
    height: 15px;
    margin-top: 23px;
    margin-left: 15px;
}

.comment_content {
    width: 100%;
    height: 210px;
}

.comment_contents input {
    width: 30%;
    height: 50px;
    text-align: right;
    border: none;
    background-color: #f8f8f8;
    border-radius: 7px;
    font-size: 15px;
    font-family: 'peyda';
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    position: relative;
    left: 70%;
    top: 50px;
}

.good_btn {
    float: right;
    margin-left: 15px;
    accent-color: #25D366;
    width: 15px;
    height: 15px;
}

.not_good_btn {
    float: right;
    margin-left: 15px;
    accent-color: #d91414;
    width: 15px;
    height: 15px;
    margin-right: 50px;
}

.not_good_title, .good_title {
    float: right;
    font-family: 'peyda';
}

.add_comment button {
    width: 120px;
    height: 40px;
    background-color: #25D366;
    color: #fff;
    border: none;
    font-family: 'peyda-Bold';
    font-size: 15px;
    border-radius: 7px;
    float: right;
    margin-right: 50px;
    margin-top: -10px;
    cursor: pointer;
}

.related h1 {
    text-align: center;
    padding-top: 360px;
    padding-bottom: 50px;
    font-family: 'peyda-Bold';
}

.information_product_responsive {
    width: 100%;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    box-shadow: 0 0px 10px #ccc;
    display: none;
}

.add_to_cart_responsive {
    width: 35%;
    height: 50px;
    background-color: #00BF6F;
    color: #fff;
    font-size: 17px;
    font-family: 'peyda-Bold';
    border: none;
    border-radius: 7px;
    cursor: pointer;
    float: right;
}

.price_responsive {
    color: #25D366;
    font-family: 'peyda';
    font-size: 18px;
}

.off_price_risponsive {
    color: #000;
    font-family: 'peyda';
    text-decoration: line-through;
    font-size: 18px;
}

@media screen and (min-width: 4000px) {
    .wrapper {
        top: 210px;
    }

    .image_title {
        left: 57%;
    }

    .final_price {
        left: 10%;
        top: 75px;
    }

    .banicoin {
        width: 835px;
        height: 90px;
    }

    .price_number {
        width: 215px;
        height: 54px;
    }

    .complite_buy select {
        left: 5%;
    }

    .product_color {
        top: 81px;
        left: 0%;
    }

    .add_to_cart {
        width: 48%;
    }

    .how_size {
        width: 15%;
    }
}

@media screen and (min-width: 3743px) {
    .wrapper {
        top: 210px;
    }

    .image_title {
        left: 47%;
    }

    .final_price {
        left: 10%;
        top: 75px;
    }

    .banicoin {
        width: 835px;
        height: 90px;
    }

    .price_number {
        width: 215px;
        height: 54px;
    }

    .complite_buy select {
        left: 14%;
    }

    .product_color {
        top: 82px;
        left: 10%;
    }

    .all_imgs img {
        height: 15vh;
    }

    .current_place {
        height: 79vh;
    }
}

@media screen and (min-width: 3000px) {
    .add_comment {
        width: 130%;
        margin-top: 365px;
    }

    .comment {
        width: 53%;
    }
}

@media screen and (min-width: 2312px) {
    .Information_product {
        height: 290px;
    }

    .final_price {
        left: 13%;
        top: 58px;
    }

    .complite_buy select {
        left: 16%;
    }
}

@media screen and (min-width: 2000px) {
    .complite_buy select {
        left: 18%;
    }

    .comment {
        width: 53%;
    }
}

@media screen and (min-width: 1820px) {
    .complite_buy select {
        left: 5%;
    }

    .banicoin {
        width: 730px;
        height: 80px;
    }

    .all_imgs img {
        height: 13vh;
    }

    .current_place {
        height: 72vh;
    }
}

@media screen and (max-width: 1339px) {
    .title_product {
        width: 75%;
    }

    .icon_shared span {
        font-size: 25px;
        width: 50px;
        height: 50px;
    }

    .current_place {
        height: 90vh;
    }

    .all_imgs img {
        height: 15vh;
        margin-top: 10px;
    }

    .image_title {
        font-size: 17px;
        left: 19%;
    }

    .final_price {
        left: 50%;
    }

    .complite_buy select {
        left: 40%;
    }

    .how_size {
        font-size: 15px;
    }

    .comment {
        width: 113%;
    }
}

@media screen and (max-width: 1280px) {
    .comment {
        width: 129%;
    }
}

@media screen and (max-width: 1175px) {
    .wrapper {
        flex-wrap: wrap;
        justify-content: center;
        width: 107%;
    }

    .information_product_responsive {
        display: block;
    }

    .title_product {
        width: 93%;
        right: 0;
    }

    .off_price_product {
        display: none;
    }

    .price_product {
        display: none;
    }

    .price_number {
        display: none;
    }

    .final_price {
        display: none;
    }

    .add_to_cart {
        display: none;
    }

    .information_button {
        margin-top: 245px;
    }

    .Attribute {
        padding-top: 70px;
    }

    .information_product {
        padding-top: 50px;
    }

    .review {
        padding-top: 1px;
    }

    .icon_shared span {
        left: 26%;
    }

    .comment {
        width: 175%;
    }

    .add_comment {
        width: 331%;
    }
}

@media screen and (max-width: 1135px) {
    .comment {
        width: 185%;
    }
}

@media screen and (max-width: 915px) {
    .name_product {
        font-size: 20px;
    }

    .title_product h3 {
        font-size: 17px;
    }

    .icon_shared span {
        font-size: 20px;
        width: 40px;
        height: 40px;
    }

    .banicoin {
        width: 400px;
    }

    .complite_buy select {
        width: 44%;
        left: 50%;
    }

    .how_size {
        top: 200px;
        left: 29%;
        width: 25%;
    }

    .comment {
        width: 400%;
    }

    .user_icon {
        width: 30px;
        height: 30px;
        left: 28%;
    }

    .Opinion_one {
        font-size: 16px;
        left: 25%;
    }

    .username {
        left: 21%;
    }

    .date_comment {
        left: 17%;
    }

    .Proposal {
        font-size: 14px;
        left: 15%;
    }

    .not_Proposal {
        font-size: 14px;
        left: 15%;
    }

    .Opinion_two {
        font-size: 14px;
        left: 20%;
    }

    .add_comment {
        width: 508%;
    }
}

@media screen and (max-width: 827px) {
    .comment {
        width: 375%;
    }

    .add_comment {
        width: 480%;
    }

    .comment_contents input {
        width: 45%;
        left: 55%;
    }
}

@media screen and (max-width: 700px) {
    .complite_buy select {
        width: 38%;
        left: 56%;
    }

    .comment {
        width: 355%;
    }

    .information_button button {
        width: 145px;
    }

    .add_comment {
        width: 440%;
    }
}

@media screen and (max-width: 665px) {
    .complite_buy select {
        width: 33%;
        font-size: 13px;
    }

    .how_size {
        font-size: 13px;
    }

    .information_button button {
        width: 140px;
    }

    .current_place {
        height: 70vh;
    }

    .all_imgs img {
        height: 10vh;
    }

    .icon_shared span {
        position: relative;
        right: 100px;
        bottom: 20px;
    }

    .image_title {
        font-size: 14px;
    }

    .user_icon {
        width: 30px;
        height: 30px;
        left: 15%;
    }

    .Opinion_one {
        font-size: 16px;
        left: 12%;
    }

    .username {
        left: 8%;
    }

    .date_comment {
        left: 5%;
    }

    .Proposal {
        font-size: 14px;
        left: 0%;
    }

    .not_Proposal {
        font-size: 14px;
        left: 0%;
    }

    .Opinion_two {
        font-size: 14px;
        left: 6%;
    }

    .add_comment {
        width: 338%;
    }

    .add_comment button {
        margin-top: 30px;
    }

    .comment {
        width: 296%;
    }
}

@media screen and (max-width: 595px) {
    .how_size {
        top: 240px;
        width: 30%;
    }

    .complite_buy select {
        left: 0;
        top: 90px;
    }

    .icon_shared {
        left: -125px;
        top: -75px;
    }

    .current_place {
        height: 50vh;
    }

    .comment {
        width: 272%;
    }

    .add_comment {
        width: 291%;
    }

    .not_good_btn {
        margin-right: 12px;
        margin-top: 5px;
    }
}

/* faq */

.questions {
    float: right;
    padding-top: 100px;
    padding-right: 80px;
    font-family: peyda-Bold;
    font-size: 20px;
}

.faq {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 24%;
}

.faq_content {
    height: 140px;
    width: 90%;
    box-shadow: 0 0 10px #ccc;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.faq_content img {
    width: 50px;
    height: 50px;
    margin-top: 23px;
}

.faq_content p {
    font-family: 'peyda';
    font-size: 14px;
    width: 115px;
    text-align: center;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.faq_content:hover p {
    color: #25D366;
}

/* faq-content */

.title_accordion {
    width: 100%;
    margin-top: 161px;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.title_accordion img {
    width: 40px;
    height: 40px;
    float: right;
    margin-left: 20px;
}

.title_accordion h3 {
    font-size: 16px;
    font-family: 'peyda-Bold';
}

.accordions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

button.accordion{
    cursor: pointer;
    padding: 18px;
    width: 50%;
    border: none;
    text-align: right;
    outline: none;
    font-size: 18px;
    font-family: 'peyda';
    transition: 0.4s;
    border-radius: 10px;
    box-shadow: 0 2px 10px #ccc;
    background-color: #fff;
    margin-top: 40px;
}

button.accordion:after{
	content: '\002B';
	color:#777;
	font-weight:bold;
	float:left;
	margin-left:5px;
}
button.accordion.active3:after{
	content:"\2212";
}
div.panel{
    margin: 9px 0;
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 51%;
    text-align: right;
    font-family: 'peyda';
}

@media screen and (max-width: 764px) {
    button.accordion {
        width: 80%;
    }  
}

/* fashion-style */

.img_slide3 {
    width: 100%;
    padding: 0 80px;
    position: relative;
}

.slide3 {
    display: none;
}

.slide3 img {
    margin-top: 95px;
    border-radius: 10px;
}

.dot_slide3 {
    width: 100%;
    text-align: center;
}

.Categories_fashion {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Categorie img {
    width: 75%;
}

.h1_col {
    text-align: center;
    font-family: peyda-Bold;
    padding: 30px 0;
}

.Categories_more {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 80px;
}

.Categorie_more {
    width: 23%;
}

.Categorie_more img {
    width: 100%;
    border-radius: 10px;
}

.Categories2 {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 50px;
}

.Categorie2 {
    width: 48%;
}

.Categorie2 img {
    width: 100%;
    border-radius: 10px;
}

.Categories2_more {
    width: 100%;
    margin-top: 30px;
}

.Categories2_more img {
    width: 100%;
    border-radius: 10px;
}

@media screen and (max-width: 1090px) {
    .Categories_more {
        flex-wrap: wrap;
    }

    .Categorie_more {
        width: 50%;
    }

    .Categorie_more img {
        width: 80%;
    }

    .Categories2 {
        flex-wrap: wrap;
    }

    .Categorie2{
        width: 100%;
    }
}

@media screen and (max-width: 643px) {
    .slide3 img {
        height: 200px;
    }

    .h1_col {
        font-size: 15px;
    }

    .more button {
        width: 180px;
        height: 35px;
    }

    .remaining {
        top: 210px;
    }

    .Categorie_more {
        width: 100%;
    }
}

/* cart */

.level {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.level div {
    display: flex;
    padding: 20px;
    flex-direction: row-reverse;
}

.level img {
    margin-left: 15px;
}

.Shipping_information, .Payment_Information {
    filter: invert(50%);
}

.level p {
    font-size: 18px;
    font-family: peyda-Bold;
}

.level span {
    margin-top: 15px;
    font-size: 25px;
    margin-right: 45px;
}

.cart_product_header {
    display: flex;
    background-color: #fafafa;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    flex-direction: row-reverse;
    margin-top: 40px;
}

.item_name {
    flex-basis: calc(34% + 187px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
    font-family: 'peyda-Bold';
    font-size: 17px;
}

.item_price, .item_quantity {
    width: 22%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'peyda-Bold';
    font-size: 17px;
}

.content_cart {
    display: flex;
    flex-direction: row-reverse;
}

.item_name_content {
    flex-basis: calc(34% + 187px);
}

.img_item_name {
    position: relative;
}

.img_item_name img {
    width: 150px;
    float: right;
}

.delete_item {
    width: 30px;
    height: 30px;
    background-color: #666;
    border-radius: 50%;
    position: absolute;
    right: 5%;
    transition: 0.4s ease;
}

.delete_item:hover {
    background-color: rgb(255, 0, 0);
}

.delete_item span {
    display: flex;
    justify-content: center;
    padding-top: 7px;
    color: #fff;
}

.name_info {
    text-align: right;
    font-size: 19px;
    font-family: 'peyda-Bold';
}

.desc_info {
    text-align: right;
    font-size: 17px;
    font-family: 'peyda';
}

.size_info {
    display: flex;
    border-left: 1px solid #ccc;
    height: 30px;
    align-items: center;
    padding: 15px;
    float: right;
}

.size_info p {
    font-family: peyda;
    font-size: 17px;
    margin-right: 10px;
}

.color_info {
    display: flex;
    height: 30px;
    align-items: center;
    padding: 15px;
    float: right;
}

.color_info p {
    font-family: peyda;
    margin-right: 10px;
}

.gift_btn {
    position: relative;
    float: right;
}

.gift_btn button {
    width: 155px;
    height: 30px;
    font-size: 15px;
    font-family: 'peyda';
    background-color: #fff;
    border: 1px solid #25D366;
    border-radius: 7px;
}

.gift_input {
    position: absolute;
    right: 10px;
    top: 4px;
    width: 15px;
    height: 15px;
    accent-color: #25D366;
}

.item_price_content {
    width: 33%;
}

.price_off_item_price {
    text-align: center;
    margin-top: 30px;
    font-size: 17px;
    font-family: 'peyda-Bold';
    color: #666;
    text-decoration: line-through;
}

.token_off {
    float: right;
    margin-right: 15px;
    width: 45px;
    height: 25px;
    background-color: #F37A23;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'peyda-Bold';
    margin-top: 20px;
}

.pr_2 {
    color: #F37A23;
    font-family: peyda-Bold;
    font-size: 15px;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}

.content_cart {
    margin-top: 50px;
    padding: 20px;
    border-bottom: 2px solid #ccc;
}

.price_item_price {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 17px;
    font-family: 'peyda-Bold';
    color: #F37A23;
}

.item_quantity_content {
    width: 22%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item_quantity_content button {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
}

.item_quantity_content span {
    font-size: 20px;
    font-family: 'peyda';
    padding: 20px;
}

.item_final_price_content {
    width: 22%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item_final_price_content p {
    color: #25D366;
    font-size: 19px;
    font-family: peyda-Bold;
}

/* prices all */

.Checkout {
    width: 100%;
    height: 350px;
    background-color: #f8f8f8;
    border-radius: 8px;
    margin-top: 50px;
}

.Checkout1 {
    width: 70%;
    height: 350px;
    float: right;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-end;
    align-items: flex-end;
}

.submit_discount {
    width: 40%;
    height: 65px;
    background-color: #fff;
    border: 1px solid #25D366;
    border-radius: 7px;
    font-size: 17px;
    font-family: 'peyda-Bold';
    float: right;
    margin-top: 70px;
    margin-right: 50px;
    transition: 0.4s ease;
}

.submit_discount:hover {
    color: #25D366;
}

.Checkout1 p {
    font-family: 'peyda';
    padding: 0 50px;
    margin-top: 40px;
}

.b1 {
    margin-left: 5px;
    color: #25D366;
    font-family: 'peyda-Bold';
}

.b2{
    color: #F37A23;
    font-family: 'peyda-Bold';
    margin-left: 5px;
}

.Checkout2 {
    width: 30%;
    height: 350px;
    float: left;
}

.prices_all {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 50px;
    border-right: 1px solid #ccc;
    padding-right: 20px;
    height: 145px;
}

.prices_all ul {
    list-style: none;
}

.prices_all li {
    padding: 10px;
    font-family: 'peyda';
}

.submit_checkout {
    width: 65%;
    height: 50px;
    background-color: #25D366;
    border: none;
    border-radius: 7px;
    font-size: 17px;
    color: #fff;
    font-family: 'peyda-Bold';
    cursor: pointer;
    margin-left: 50px;
    margin-top: 30px;
    transition: 0.4s ease;
}

.submit_checkout:hover {
    background-color: #009657;
}

.flex_responsive {
    width: 67%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.submit_checkout_btn {
    display: none;
}

@media screen and (max-width: 1407px) {
    .gift_btn button {
        margin-top: 10px;
    }

    .gift_input {
        top: 14px;
    }

    .price_item_price {
        font-size: 15px;
    }


}

@media screen and (max-width: 1302px) {
    .prices_all {
        height: auto;
        border: none;
    }

    .prices_all li {
        font-size: 14px !important;
        padding: 0 50px !important;
        padding: 10px !important;
    }

    .Checkout1 p {
        font-size: 14px;
        text-align: right;
    }

    .Checkout {
        height: 550px;
        display: flex;
        flex-wrap: wrap;
    }

    .Checkout1 {
        width: 100%;
    }

    .Checkout2 {
        width: 100%;
        margin-top: -60px;
    }

    .submit_checkout {
        display: none;
    }

    .submit_discount {
        width: 85%;
        margin-left: 50px;
    }

    .submit_checkout_btn {
        display: block;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 70px;
        background-color: #fff;
        box-shadow: 0px 5px 15px #ccc;
        z-index: 1000;
    }

    .submit_checkout_btn button {
        width: 91.5%;
        margin: 0 50px;
        margin-top: 10px;
        height: 50px;
        background-color: #25D366;
        border: none;
        border-radius: 7px;
        font-size: 17px;
        color: #fff;
        font-family: 'peyda-Bold';
        cursor: pointer;
        transition: 0.4s ease;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 999px) {
    .item_name_content {
        flex-basis: 100%;
    }

    .content_cart {
        display: flex;
        flex-wrap: wrap;
    }

    .gift_btn button {
        margin-top: 0;
    }

    .gift_input {
        top: 5px;
    }

    .item_price_content {
        width: 30%;
    }

    .cart_product_header {
        display: none;
    }

    .item_quantity_content {
        width: 30%;
    }

    .flex_responsive {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .level span {
        font-size: 10px;
    }

    .level img {
        width: 25px;
    }

    .level p {
        font-size: 13px;
    }

    .img_item_name img {
        width: 130px;
    }

    .Checkout {
        height: 550px;
        display: flex;
        flex-wrap: wrap;
    }

    .Checkout1 {
        width: 100%;
    }

    .Checkout2 {
        width: 100%;
    }

    .submit_checkout {
        display: none;
    }
}

@media screen and (max-width: 705px) {
    .gift_btn button {
        margin-top: 10px;
    }

    .gift_input {
        top: 14px;
    }

    .price_off_item_price {
        font-size: 14px;
    }

    .item_price_content {
        width: 60%;
    }

    .item_quantity_content button {
        width: 30px;
        height: 30px;
    }

    .item_final_price_content {
        padding-right: 74px;
    }

    .submit_checkout_btn button {
        width: 85%;
    }
}

@media screen and (max-width: 580px) {
    .item_quantity_content button {
        width: 30px;
        height: 30px;
    }

    .submit_discount {
        width: 78%;
    }
}